name: Test

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Install requirements
        run: |
          pip install --upgrade pip setuptools wheel
          pip install -r requirements.txt
          npm install
          cd lib/js
          npm install

      - name: Onboard user - js
        run: |
          chmod +x onboardUser/scripts/js/gen_account.mjs
          node onboardUser/scripts/js/gen_account.mjs
          source .env
          python -m onboardUser.scripts.python.transfer_native_coins ${{ secrets.SECRET_KEY }} Remote
          chmod +x onboardUser/scripts/js/onboard_user.mjs 
          node onboardUser/scripts/js/onboard_user.mjs Remote
        timeout-minutes: 5
        env:
          DISABLE_GAS_ESTIMATION: "false"

      - name: Run js ERC20
        run: |
          source .env
          node examples/scripts/js/run_private_erc20.mjs Remote
        timeout-minutes: 5

      - name: Run js ERC20 with EIP 191 signatures
        run: |
          source .env
          node examples/scripts/js/run_private_erc20.mjs --use_eip191_signature=true Remote
        timeout-minutes: 5

      - name: Onboard user - python
        run: |
          rm .env
          chmod +x onboardUser/scripts/python/gen_account.py
          python -m onboardUser.scripts.python.gen_account
          source .env
          python -m onboardUser.scripts.python.transfer_native_coins ${{ secrets.SECRET_KEY }} Remote
          chmod +x onboardUser/scripts/python/onboard_user.py
          python -m onboardUser.scripts.python.onboard_user Remote
        timeout-minutes: 5

#      - name: Run tests
#        run: |
#          source .env
#          python -m tests.scripts.python.run_precompile_tests_contract Remote
#        timeout-minutes: 15

      - name: Run python ERC20 tests
        run: |
          source .env
          python -m examples.scripts.python.run_private_erc20 Remote
        timeout-minutes: 5

      - name: Run python ERC20 tests with EIP 191 signatures
        run: |
          source .env
          python -m examples.scripts.python.run_private_erc20 Remote --use_eip191_signature=True
        timeout-minutes: 5

      - name: Check Exit Codes
        run: |
          if [ ${{ job.status }} == "success" ]; then
            echo "All processes exited with exit code 0."
          else
            echo "One or more processes did not exit with exit code 0."
          fi
  notify:
    runs-on: ubuntu-latest
    needs: build
    if: failure()

    steps:
      - name: Send Slack Notification on failure
        uses: 8398a7/action-slack@v3
        with:
          status: ${{ job.status }}
          text: |
            The workflow ${{ github.workflow }} has failed.
        env:
            SLACK_WEBHOOK_URL: ${{ secrets.SLACK_WEBHOOK_URL }}
